.footer {
  position: sticky;
  display: flex;
  bottom: 0;
  justify-content: start;
  padding: 9px 0;
  margin-top: 15px;
  border-top: 1px solid var(--title-border);
  background-color: var(--white-text);
}
